<style id="_pageStyle">
{% capture page_style %}
  .content a {
    color: {{ color }};
    border-color: fade-out({{ color }}, 0.8);
  }

  .content a:hover {
    border-color: {{ color }};
    background-color: {{ color }};
    color: white;
    border-radius: 2px;
    padding: 2px 4px;
  }

  /* 목차: 첫 레벨만 bold */
  #toc-wrapper > ul > li > a {
    font-weight: 600;
  }

  /* 본문 링크: bold 처리 */
  .content > p a,
  .content > ul > li > a,
  .content > ol > li > a,
  .content > blockquote a,
  .content > table a {
    font-weight: 600;
  }

  :focus {
    outline-color: {{ color }};
  }

  ::selection {
    color: #fff;
    background: {{ color }};
  }

  ::-moz-selection {
    color: #fff;
    background: {{ color }};
  }
{% endcapture %}
{{ page_style | scssify }}
</style>
