<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="theme-base-08">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
            <form action="/search">
              <div class="tipue_search_left">
                <img src="{{ "/assets/tipuesearch/search.png" | relative_url }}" class="tipue_search_icon">
              </div>
              <div class="tipue_search_right">
                <input type="text" name="q" id="tipue_search_input" pattern=".{1,}" title="At least 1 characters" required></div>
              <div style="clear: both;"></div>
            </form>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>
</html>
