# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\myhome\00_assublog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
